language: node_js

node_js:
  - '0.10'

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g karma-cli
  - npm install -g bower
  - bower install

script:
  - karma start --no-auto-watch --single-run --reporters dots

notifications:
  email:
    - jannsk@users.noreply.github.com
